{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block scripts %}
<script>

    Date.prototype.addDays = function(days) {
        var date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
    }

    function setEndMax() {
        // sets the end date input to have a maximum value of 6 days after the first day
        var end = document.getElementById("end_date");
        var date = document.getElementById("start_date").value;
        end.setAttribute("min", date);
        var year = date.substring(0,4);
        var month = date.substring(5,7);
        var day = date.substring(8,10);

        var start = new Date(year, month-1, day);
        var end_date = start.addDays(6);
        end.setAttribute("max",end_date.toISOString().split('T')[0]);
        end.disabled = false;
    }

</script>
{% endblock %}

{% block main %}
    {% if event is not none %}
    <form action="/delete_event">
        <input name="event_id" type="hidden" value="{{ event.id }}">
        <button class="btn btn-primary" type="submit">DELETE EVENT</button>
    </form>
    <form action="/edit" method="post">
        <input name="event_id" type="hidden" value="{{ event.id }}">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" value="{{ event.title }}" type="text" required>
        </div>
        <div class="mb-3">
            <input name="start_date" id="start_date" type="date"  value="{{ current_date }}" min="{{ current_date }}" onchange="setEndMax()" required>
            <input name="end_date" id="end_date" type="date" value="{{ current_date }}" min="{{ current_date }}" required disabled>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="description" name="description" value="{{ event.description }}" type="text" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="location" name="location" value="{{ event.location }}" type="text" required>
        </div>

        <button class="btn btn-primary" type="submit">Next</button>
    </form>
    {% else %}
    <form action="/create" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Title" type="text" required>
        </div>
        <div class="mb-3">
            <input name="start_date" id="start_date" type="date"  value="{{ current_date }}" min="{{ current_date }}" onchange="setEndMax()" required>
            <input name="end_date" id="end_date" type="date" value="{{ current_date }}" min="{{ current_date }}" required disabled>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="description" name="description" placeholder="Description" type="text" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="location" name="location" placeholder="Location" type="text" required>
        </div>
        <div class="mb-3">
            Duration: &#60;= <input autocomplete="off" class="form-control mx-auto w-auto" id="duration" name="duration" placeholder="Hours" type="number" min="1" max="12" required> hrs.
        </div>

        <button class="btn btn-primary" type="submit">Next</button>
    </form>
    {% endif %}
        
{% endblock %}