{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block scripts %}
{% endblock %}

{% block main %}
    {% if event is not none %}
    <form action="/edit" method="post">
        <input name="event_id" type="hidden" value="{{ event.id }}">
    {% else %}
    <form action="/create" method="post">
    {% endif %}
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Title" type="text" required>
        </div>
        <div class="mb-3">
            <input name="start_date" type="date" required>
            <input name="end_date" type="date" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="description" name="description" placeholder="Description" type="text" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="location" name="location" placeholder="Location" type="text" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="invitee" name="invitee" placeholder="Invitee Username" type="text" required>
        </div>

        <button class="btn btn-primary" type="submit">Create</button>
    </form>
{% endblock %}