{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<script>
  function filtered(value) {
    document.getElementById("filter").value = value;
  }
</script>

<div class = "filtered">
  <form action="/">
    <input id="filter" type="hidden" value="past">
    <input class="btn btn-primary" type="submit" value="past" id="past">
  </form>
</div>

<div class = "filtered">
  <form action="/">
    <input id="filter" type="hidden" value="future">
    <input class="btn btn-primary" type="submit" value="future" id="future">
  </form>
</div>

<table class="table">
    <thead>
      <tr>
        <th>Edit</th>
        <th>Title</th>
        <th>Date Range</th>
      </tr>
    </thead>
    <tbody>
          {% for event in events %}
            <tr>
                <td>
                    {% if event.owner_id == user_id %}
                    <form action="/edit">
                        <input name="event_id" type="hidden" value="{{ event.id }}">
                        <input class="btn btn-primary" type="submit" value="Edit">
                    </form>
                    {% endif %}
                </td>
                <td>
                  <form action="/selecttimes">
                    <input name="event_id" type="hidden" value="{{ event.id }}">
                    <input class="btn astext" type="submit" value="{{ event.title }}">
                  </form>
                </td>
                <td>{{ event.start_date + " - " + event.end_date }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}