{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th>Edit</th>
        <th>Title</th>
        <th>Date Range</th>
      </tr>
    </thead>
    <tbody>
          {% for event in events %}
            <tr>
                <td>
                    {% if event.owner_id == user_id %}
                    <form action="/edit">
                        <input class="btn btn-primary" type="submit" value="Edit">
                    </form>
                    {% endif %}
                </td>
                <td>
                  <form action="/selecttimes">
                    <input class="btn astext" type="submit" value="{{ event.id }}" name="event_id">
                  </form>
                </td>
                <td>{{ event.start_date + " - " + event.end_date }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}