{% extends "layout.html" %}

{% block title %}
    Preferences
{% endblock %}

{% block scripts %}
<script>

    function addTable(preferences) {
        var preferencesTable = document.getElementById("preferencesTable");

        var tableBody = document.createElement('TBODY');
        tableBody.className = "unhighlightable";
        preferencesTable.appendChild(tableBody);

        const timeSlots = ["12 AM - 1 AM", "1 AM - 2 AM", "2 AM - 3 AM", "3 AM - 4 AM", "4 AM - 5 AM", "5 AM - 6 AM", "6 AM - 7 AM"
                        , "7 AM - 8 AM", "8 AM - 9 AM", "9 AM - 10 AM", "10 AM - 11 AM", "11 AM - 12 PM", "12 PM - 1 PM", "1 PM - 2 PM"
                        , "2 PM - 3 PM", "3 PM - 4 PM", "4 PM - 5 PM", "5 PM - 6 PM", "6 PM - 7 PM", "7 PM - 8 PM", "8 PM - 9 PM"
                        , "9 PM - 10 PM", "10 PM - 11 PM", "11 PM - 12 AM"]

        var k = 0;
        preferences = preferences.replace('[', '')
        preferences = preferences.replace(']', '')
        preferences = preferences.split(", ")
        for (var i = 0; i < 24; i++) {
            var tr = document.createElement('TR');
            tableBody.appendChild(tr);

            for (var j = 0; j < 7; j++) {
                var td = document.createElement('TD');
                if (preferences[k] == 1) {
                    td.setAttribute('class', 'bg-white');
                    td.setAttribute('value', '1');
                }
                else {
                    td.setAttribute('class', 'bg-red');
                    td.setAttribute('value', '0');
                }
                k++;
                td.setAttribute('name', 'preferences');
                td.setAttribute('onclick', 'updateAvailability(this)');
                td.appendChild(document.createTextNode(timeSlots[i]));
                tr.appendChild(td);
            }
        }
        myTableDiv.appendChild(table);
    }

    function updateAvailability(cell) {
        if (cell.getAttributeNode("value").value == "1"){
            cell.getAttributeNode("value").value = "0";
            cell.getAttributeNode("class").value = "bg-red";
        }
        else{
            cell.getAttributeNode("value").value = "1";
            cell.getAttributeNode("class").value = "bg-white";
        }
    }

</script>

{% endblock %}

{% block main %}
<h2>Select Times You Will Never Be Available</h2>
<table id="preferencesTable" class="table">
    <thead>
        <tr>
            <th>
                Sunday
            </th>
            <th>
                Monday
            </th>
            <th>
                Tuesday
            </th>
            <th>
                Wednesday
            </th>
            <th>
                Thursday
            </th>
            <th>
                Friday
            </th>
            <th>
                Saturday
            </th>
        </tr>
    </thead>
    <script>addTable("{{ preferences|safe }}");</script>
</table>
<button class="btn btn-primary" type="button">Update</button>

<script>
    $("button").click(function() {
        var arr = [];
        $("td").each(function() {
            arr.push(this.getAttributeNode("value").value);
        });
        $.ajax({
            url: '/set_preferences',
            type: 'POST',
            data: {
                preferences: arr
            },
            success: function(response){ window.location.href = "/"; }
        });
    });
</script>

{% endblock %}